body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  min-width: 100%;
}

.content span.img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}

.text-box, .white-text {
  text-align: center;
  padding: 2rem 3em;
  text-align: justify;
}

.school-logo {
  display: inline-block;
  width: 5rem;
  right: 0px;
  grid-row-start: 2;
  grid-column-start: 2;
}

.school-text{
  display: inline;
}

.socialmedia-logo{
  width: 2rem;
  padding: 1rem;
  margin-left: auto;
    margin-right: auto;
}

.container{
  display: flex;
    justify-content: center;
}




@media (min-width: 800px) {
  .grid-container-skills {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 2rem 8rem;
    }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2rem 8rem;
  }
}

.image {
  position: absolute;
  height: 800px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.course-text {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  grid-row-start: 2;
}

.grid-item:nth-child(odd) {
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem 2rem;
}